
@use '../core/variables' as vars;



.container-articles {
    background-color: vars.$color-secondary;
    
     
}

.articles-text {
    font-family: vars.$font-main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 10px;

}

.articles-text h6 {
    color: vars.$color-tertiary;
    

}

.articles {
    font-family: vars.$font-main;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    row-gap: 20px;
    
    
}

.article-image {
    widht: 150px;
    height: 150px;
    border-radius: 75%;
    box-shadow: 0px 4px 8px rgb(54, 52, 52);
}

.article {
    
    
}
    
