
@use '../core/variables' as vars;



.container-articles {
    background-color: vars.$color-secondary;
    padding-bottom: 30px;
   
    
    
     
}

.articles-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 10px;

}

.articles-text h5 {
    color: vars.$color-tertiary;
    font-size: 18px;
    padding-bottom: 15px;

}

.articles {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    row-gap: 30px;
      
}

.article h5 {
    padding-top: 10px;
    font-size: 18px;
}


.article-image {
    width: 150px;
    border-radius: 75%;
    box-shadow: 0px 4px 8px rgb(54, 52, 52);
    
}

 


.link-empezar {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 20px;
}


.empezar {
    background-color: vars.$color-main;
    border: 3px solid vars.$color-main;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    color: vars.$color-quaternary;
    font-weight: bold;

}




