@use '../core/variables' as vars;

.footer {
    background-color: vars.$color-tertiary;
    color: vars.$color-quaternary;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    gap: 30px;
    padding-bottom: 70px;
    position: relative;

    @media (min-width: 768px) {
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: space-between;
       text-align: left;
       padding-left: 90px;
       padding-right: 90px;
    }
    @media (min-width: 1024px) {
        padding-left: 200px;
        padding-right: 200px;
    }
 }


.link-top {
    background-color: vars.$color-quaternary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    transform-origin: center;
    top: -25px;
    left: 50%;
    transform: translate(-50%);   
}


.list-content a {
    text-decoration: none;
    color: vars.$color-quaternary;
}

.list-content li {
    margin-bottom: 8px;      
}

.list-socialmedia a {
    text-decoration: none;
    color: vars.$color-quaternary;
}

.list-socialmedia li {
    margin-bottom: 8px;
}

.copyright p {
    margin-bottom: 8px;
}


@media (min-width: 768px) {
    .copyright {
        order: -1;
    }
 }



