@use '../core/variables' as vars;


.menu {
    width: 30px;
    background-color: vars.$color-main;
    position: fixed;
    z-index: 1;
}

.menu img {
    width: 100%;
    height: auto;
} 