@use '../core/variables' as vars;


.menu {
    width: 35px;
    background-color: vars.$color-main;
    position: fixed;
    z-index: 1;
    padding: 10px; 
}

.menu img {
    width: 100%;  
} 

