
@use '../core/variables' as vars;

.hero {
    width: 100%;
    height: 100%;
    background-image: url('../images/cover.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 83%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.hero-texts {
    color: vars.$color-quaternary;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40vh; 
    padding-bottom: 40px;
    width: 60%;

   
   
}


.hero-texts h1 {
    font-size: 30px;
    padding-bottom: 20px;   
    
    @media (min-width: 768px) {
        font-size: 75px;           
    }
}


.hero-texts p {
    font-size: 16px;
    padding-bottom: 20px;
    
    @media (min-width: 768px) {
        font-size: 24px;         
    }
}


.link-bottom {
    background-color: vars.$color-quaternary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;  
}

