@use '../core/variables' as vars;


.shop-texts {
    font-family: vars.$font-main;
    padding: 15px;
    
}

.shop-texts h3 {
    color: vars.$color-main;
    padding-top: 10px;
   

}
.shop-texts h2 {
    padding-top: 10px;
   

}

.shop-texts p {
    padding-top: 10px;
   

}

.link-enlace-comprar {
    display: flex;
    justify-content: left;
    padding: 10px;
    padding-bottom: 20px;
}

.enlace-comprar {
    background-color: white;
    border: 1px solid green;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;

}
