
<section class="container-articles">
   
     <div class="articles-text" >
        <h6>!Prepáralos con tus marcas favoritas!</h6>
        <h2>VUELTA AL COLE</h2>
     </div>

   <div class="articles">

       <article class="article">
          <img class="article-image" src="images/backpack01.png" alt="mochila1">
          <h5>Mochilas escolares</h5>
      </article>

       <article class="article">
          <img class="article-image" src="images/backpack02.png" alt="mochila2">
        <h5>Estuches</h5>
       </article>

      <article class="article">
          <img class="article-image" src="images/backpack03.png" alt="mochila3">
          <h5>Bolsa de deportes</h5>
      </article>
  </div>
  <div>
        <article class="link-empezar">
        <a class="empezar" href="https://adalab.es/">Empezar ahora</a>
        </article>
  </div>

  

  



</section>



<!-- // Para el enlace de la flecha inferior:
//     .hero-enlace {
//     display: flex;
//     justify-content: center;
//     padding-bottom: 30px;
// } -->

